*.DS_STORE
[Tt]humbs.db

[OO]bj
[Bb]in
[Dd]ebug
[Bb]uild
*.user
*.suo
*.exe
*.pdb
*.aps
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.[Cc]ache
*.bak
*.ncb
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
*.dbmdl
*.cache
*.swp
*.vspscc
*.vssscc
*.bak.*
*.bak

# tools
_ReSharper.*
_Resharper*/
*.resharper
*.resharper.user
[Nn][Dd]epend[Oo]ut*/
Ankh.NoLoad

.idea/*
!.idea/workspace.xml
!.idea/usage.statistics.xml
!.idea/tasks.xml

#Other
data/

